<div class="container">
<div>
<h1>Stupid Coaching</h1>
</div>

<div class="form">
<form action="/answer" data-turbo="false" class="type">
  <input class="field" type="text" name="question">
  <input type="submit" value="Ask"  class="btn btn-primary">
</form>
</div>
</div>
